
:root{
    --primary-color: #0A3DAB;
    --secondary-color: #F6F6F6;
    --terciary-color: rgb(196, 194, 194);
    --quaternary-color: #F9C910;
    --five-color: #C6C0E8;
}


.blackcolor{
    color: black;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif
}

 .logo_title{
    font-family: 'Noto Sans KR', sans-serif;
    padding: 1.5%;
    color: var(--secondary-color);
    text-align: left;
}

header{
    background-color: var(--primary-color);
    margin-bottom: 2em;
}

.logo{
    height: 3.5em;
    float: left;
    margin-right: 0.5em;
    margin-left: 0.5em;
    transform: translateY(10%);
}

.parg{
    font-family: 'Noto Sans KR', sans-serif;
}

@keyframes opacity{
    0%{
        opacity: 10%;
    }

    30%{
        opacity: 40%;
    }

    70%{
        opacity: 80%;
    }

    100%{
        opacity: 100%;
    }
}

.subtitle{
    color: var(--primary-color);
    font-size: 3em;
    text-align: left;
    margin-left: 10%;
} 

.subtitle2{
    color: black;
    text-align: left;
    margin-left: 10%;
    margin-bottom: 2em ;
} 
.info{
    margin-bottom: 2em;
    color: var(--primary-color);
}


.container{
    text-align: center;
}

.questions{
    padding-bottom: 4em;
    padding-top: 2em;
}

.answers{
    display: none;
    padding-bottom: 2em;
    color: var(--primary-color);
    margin-top: 2.5em; 
    /* transform: translateY(50%); */
    animation: slide 1s;
}

@keyframes slide{
    0%{
        transform: translateY(2em);
        opacity: 15%;
    }

    30%{
        opacity: 45%;
    }
    100%{
        transform: translateY(0em);
        opacity: 100%;
    }
}

.ask{
    padding: 1em;
    width: 50%;
    text-align: center;
    margin: auto;
    background-color: var(--primary-color);
    border: 1px var(--secondary-color) solid;
    border-radius: 5%;
    margin-bottom: 1.5em;
    -webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
	-moz-box-shadow:    9px 7px 5px rgba(50, 50, 50, 0.77);
	box-shadow:         9px 7px 5px rgba(50, 50, 50, 0.77);
    
    
}

.color_p{
    color: var(--secondary-color);
}

a{
    text-decoration: none;
    
}

.suport{
    margin-bottom: 2em;
    height: 18em;
    background-color: white;
    padding: 2em;
}

.suport h2{
    font-size: 1.8em;
}

#img1{
    margin-top: 1em;
    height: 10em;
    margin-left: 1em;
    margin-right: 6em;
    
    
}

#img2{
    height: 13em;
    margin-right: 6em;
}

footer{
    height: 2.5em;
    padding: 2em;
    font-size: 0.7em;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    border-top: var(--primary-color) 1px solid;
}

footer a{
    color: var(--secondary-color);
}

/* Hang */
@keyframes hang {
    0% {
      -webkit-transform: translateY(8px);
      transform: translateY(8px);
    }
    50% {
      -webkit-transform: translateY(4px);
      transform: translateY(4px);
    }
    100% {
      -webkit-transform: translateY(8px);
      transform: translateY(8px);
    }
  }




@media (max-width: 600px){
    .suport{
        margin-bottom: 2em;
        height: 20em;
        background-color: white;
        padding: 2em;
        text-align: center;
        
    }

    .imgs{
        display: flex;
        /* flex-direction: row; */
        justify-content: center;
        align-items: center;
        
    }
    #img1{
        height: 5.5em;
        margin-left: 25%;
        
    }

    #img2{
        height: 8em;
        
        
    }
}
