*{
    margin: 0;
    padding: 0;
    text-align: center;
   
}

body{
    background-image: url('wallpaper_1\ \(2\).jpg');
    /* background-color: black; */
    background-size: cover;
}

.container2{
    text-align: center;
    
}

.title{
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: cornflowerblue;
    display: inline-block;
    padding: 1.5%;
    border: brown 2px solid;
    border-radius: 5%;
    color: white;
}



.ranking{
    display: grid;
    grid-template-columns: 20% 20% 20%;
    justify-content: center;
    height: 28vw;
    align-items: flex-end;
}

.groups{
    /* padding: 0.2em; */
    border: 1px gray solid;
    border-radius: 2%;
}

#group_one{
    background-color: red;
}

#group_two{
    background-color: yellow;
}

#group_three{
    background-color: greenyellow;
}

.inputs{
    display: grid;
    grid-template-columns: 15% 15% 15%;
    align-items: flex-end;
    justify-content: center;
    grid-gap: 5%;
    margin-top: 0.5em;
    margin-bottom: 0.8em;
    color: black;
    
}

.group_points{
    padding: 0.5em;
    border-radius: 3%;
    border: grey solid 2px;
}

.btn_game{
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: grey;
    color: white;
}

#btn_game:hover{
    background-color: cornflowerblue;
}

#btn_clear:hover{
    background-color: lightcoral;
}